<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="onUpload()">submit</button>
    <input type="file" id="file">
    <script>
           const onUpload = async () => {
            const file = document.getElementById('file').files[0];
           console.log(file)
           
         const url = 'https://asia-south1-metaone-ec336.cloudfunctions.net/api/addSpaceObject'
        const data = new FormData()
        data.append("file",file)
        data.append("spaceId","5s1l4XbAG5DHtc8UyO51")
        data.append("name","House")
        data.append("position","{x:0.y:0.z:0}")
        data.append("rotation","{x:0.y:0.z:0}")
        data.append("scale","{x:1.y:1.z:1}")
        await axios.post(url,data,
        {
          headers: {
          'Content-Type': 'multipart/form-data'
          }
})
        .then(function (response) {
            //handle success
            console.log(response);
          })
          .catch(function (error) {
            //handle error
            console.log(error);
          });
        console.log(data)
           }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>